<div class="container-normal light">

    <div class="text-center container-head">
        <h4>OUR GUIDELINES</h4>
        <p>Small Description about this section</p>
    </div>

    <div class="row">

        <div class="col-xl-4 col-lg-5">
            <div class="card card-custom shadow mb-4">
              
              <!-- Card Body -->
              <div class="card-body">
                <div class="text-center">
                  <h4>24x7 Service</h4>
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Get More Details &rarr;</a>
              </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card card-custom shadow mb-4">
              
              <!-- Card Body -->
              <div class="card-body">
                <div class="text-center">
                  <h4>24x7 Service</h4>
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Get More Details &rarr;</a>
              </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card card-custom shadow mb-4">
              
              <!-- Card Body -->
              <div class="card-body">
                <div class="text-center">
                  <h4>24x7 Service</h4>
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Get More Details &rarr;</a>
              </div>
            </div>
        </div>
        
    </div>
</div>
