
    <div class="card card-custom shadow mb-4">
      
      <!-- Card Body -->
      <div class="card-body">
        <div class="text-center">
          <h4>{{item}}</h4>
          <div class="img-contain" style="
          background: url('../../../../assets/resources/images/med1.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          ">

          </div>
        </div>
        <p>{{info}}<a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
        <br>
        <div class="text-center price">
            <h4><span class="price-tag">Rs.</span>{{price}}</h4>
        </div>
        <a target="_blank" rel="nofollow" href="https://undraw.co/">Get More Details &rarr;</a>
      </div>
    </div>

