<!-- Footer -->
<footer class="footer-dark">
    <div class="links-row">
      <div class="links-col social">
        <!-- <h4>Social Related</h4> -->
        <a href='#'><i class="fab fa-facebook"></i></a>
        <a href='#'><i class="fab fa-twitter"></i></a>
        <a href='#'><i class="fab fa-instagram"></i></a>
        <a href='#'><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="links-col">
        <h4>Contact Related</h4>
        <a href='#'>Selfcare Service</a>
        <a href='#'>Hotline</a>
        <a href='#'>Smart Connect</a>
      </div>
      <div class="links-col">
        <h4>Site Related</h4>
        <a href='#'>Privacy Policy</a>
        <a href='#'>License and Agreement</a>
        <a href='#'>Smart Connect</a>
      </div>
      <div class="links-col">
        <h4>Admin Related</h4>
        <a href='#'>Privacy Policy</a>
        <a href='#'>License and Agreement</a>
        <a href='#'>Smart Connect</a>
      </div>
    </div>
</footer>
