<div class="container-form">
    <div class="text-center container-head">
        <h4>Contact Form</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the 
            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s 
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <br>
    </div>
    <div class="row">
        <div class="col">
            <img src="../../../../assets/resources/images/back1.jpg" width="700" alt='map'/>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <input class="form-control" id="InputName" type="text" placeholder="Your Name">
                    <small>Not there</small>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input class="form-control" id="InputName" type="text" placeholder="Your Email">
                            <small>Not there</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input class="form-control" id="InputName" type="text" placeholder="Your Phone Number">
                            <small>Not there</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="6"></textarea>
                    <small>Not there</small>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">SUBMIT YOUR MESSAGE</button>
            </form>
        </div>
    </div>
</div>
