<div class="container-custom slide">
    <div class="slide-img">
        <div class="wrap-main-flex">
            <div class="text-wrap wrap-center">
                <h4>YOUR LIFE STARTS NOW</h4>
                <p>Your Soul may rest with us</p>
            </div>
            <div class="text-wrap wrap-center">
                <span class="pipe-symbol">|</span>
            </div>
            <div>
                <div class="row" >
                    <div class="text-wrap wrap-left">
                        <h4>Corona Virus <a href="#"><i class="fas fa-arrow-circle-right"></i></a></h4>
                        <p>Stay safe. Maintain Social Distency.</p>
                        <br>
                        <h4>Call 1919 <a href="#"><i class="fas fa-arrow-circle-right"></i></a></h4>
                        <p>For Emergency services.</p>
                        <br>
                        <h4>Emergency <a href="#"><i class="fas fa-arrow-circle-right"></i></a></h4>
                        <p>Channel or contact us for emergency channeling.</p>
                        <br>
                        <h4>Get Medicine <a href="#"><i class="fas fa-arrow-circle-right"></i></a></h4>
                        <p>Order and get delivered medicine for advance time period.</p>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
