<div class="container-custom slide">
    <div class="slide-img">
        <div class="wrap-main-flex">
            <div class="text-wrap wrap-center">
                <h4>YOUR LIFE STARTS NOW</h4>
                <p>Your Soul may rest with us</p>
            </div>
            <div class="text-wrap wrap-center">
                <span class="pipe-symbol">|</span>
            </div>
            <div class="text-wrap wrap-center">
                <h4>Call 1919</h4>
                <p>For Emergency services</p>
            </div>
        </div>
    </div>
</div>
