<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="150"
      alt="Angular Logo"
      src="../../../../assets/resources/images/logo1.png"
    />
    
      <div class="spacer"></div>
      <div class="navigation">
          <ul>
              <li><a routerLinkActive="list-item-active" routerLink="#">Information</a></li>
              <li><a href="#">Medicines</a></li>
              <li><a routerLinkActive="list-item-active" routerLink="/about">About Us</a></li>
              <li><a routerLinkActive="list-item-active" routerLink="/contact">Contact Us</a></li>
          </ul>
      </div>
      
  </div>
