<app-container-title title="Channel" desc='Channeling Page'></app-container-title>

<div class="container-text container-normal light">
    <div class="text-center container-head">
        <h4>Channeling Form</h4>
        <p>Your Soul may rest with us</p>

        <app-appointment></app-appointment>
    </div>

</div>

<div class="container-text container-normal dark">
    <div class="text-center container-head">
        <h4>Channeling Form</h4>
        <p>Your Soul may rest with us</p>

        <app-container-table></app-container-table>
    </div>

</div>
